.listaRestaurantes {
  display: flex;
  flex-direction: column;

  &__grupoFiltros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    
    &__grupoForm {
      display: "flex";
      flex-direction: "row";
      justify-content: "space-between";
      width: "fit-content";
      
      &__form{
        margin-right: 20px; 
      }
    }
  }

  &__grupoBotoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__botao {
      align-self: center;
      margin-top: 4px;
      margin-right: 4px;
      padding-right: 4px;
      padding-left: 4px;
    }
  }
}
