@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@100&display=swap');

body {
  background-color: #4C4C4C;
  color: #F0F0F0;
  font-family: 'Quicksand', sans-serif;
}
