.lista-suspensa{
    margin: 24px 0;
}

.lista-suspensa label{
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}

.lista-suspensa select {
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    width: 100%;
    padding: 24px;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

